/* Add screen styles below */
h1 {
  text-align: center; 
}

.accordion-body h6 {
  margin-bottom: 10px;
}

.accordion-body select,
.accordion-body .form-check {
  margin-bottom: 15px;
}

.accordion-body .input-group {
  margin-bottom: 20px;
}

.map-container {
  text-align: center;
  margin-top: 24px;
}
